@font-face {
    font-family: Train_One;
    src: url(../font/Train_One/TrainOne-Regular.ttf)
}
body {
    font: 1em Arial;
    background-image: url(../image/abstractPic.jpg);
}
h1 {
    font-family: Train_One, Arial, Sans-serif;
    font-size: 2em;
}
h3 {
    font: 1.5em;
    border-bottom: 1px, solid, black;
}
nav {
    width: 175px;
    background-color: #E7DBF6;
    float: left; 
}
article {
    margin-left: 175px;
    background-color: white;
    padding: 10px;
}
footer {
    font-size: 1em;
    text-align: center;
    margin-top: 10px;
    padding-bottom: 10px;
}
article ul {
    list-style-image: url(../image/PeaceSign.png);
}
span.fonts{
    color: orange;
    font: 1.5em 'Comic Sans MS';
    font-style: italic;
    font-weight: bold;
}
span.colors {
    color: red;
    font-size: 1.1em;
    font-weight: bold;
}
span.more {
    color: blue;
    text-decoration: underline;
    border: 1px, dashed, gray;
    background-color: #D69BBE;
}
.backgrounds{
    color: green;
    font:1.25em "Trebuchet MS";

}
#outerwrapper {
    width: 650px;
    background-color: #E7DBF6;
    margin-left: auto;
    margin-right: auto;
}