        h1 {
        text-align: center;
        }


        #about-the-author ul {
        list-style: none;
        }

        #about-the-author {
        border: solid;
        margin: auto;
        width: 450px;
        }

        .name {
        font-weight: bold;
        }

        .MikeMathison img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        }

        .MikeMathison figcaption {
        text-align: center;
        }

        #CenterImage {
        margin-top: 10px;
        margin-bottom: 20px;
        border-bottom: 3px solid black;
        padding-bottom: 20px;
        }

        #CarImagesTable {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
        }

        #CarImagesTable td {
        padding-top: 5px;
        padding-left: 20px;
        }

        footer {
        margin-bottom: 10px;
        }

        /*p {
        font-family: "Times New Roman", Times, serif;
        }

        li {
        font-family: "Times New Roman", Times, serif;
        }

        figcaption {
        font-family: "Times New Roman", Times, serif;
        }*/

        .employment-status {
        font-family: "Arial", Arial, sans-serif;
        }


        img.center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        } 

        h6 {

        text-align: center;

        }

        i {
        font-style: italic;
        }

        main {
         margin-left: 20px;
        }
        .fourstroke {
                margin-left:2%;
        }